* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --text: #e7e7e0;
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1)
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/raleway-regular.woff2");
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/raleway-black.woff2");
    font-weight: 900;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.55;
    background: #010101;
}

.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url("../img/ground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4);
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    will-change: transform;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.layers__header {
    margin-top: -60px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text);
    text-shadow: 0 0 16px #9e7d35;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    z-index: 1;
}

.layers__greetings {
    font-size: calc(var(--index) * 0.8);
    letter-spacing: calc(var(--index) / 3.6);
}

.layers__title {
    font-size: calc(var(--index) * 2.2);
    letter-spacing: calc(var(--index) / 8);
}

.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    transition: var(--transition);
    z-index: 0;
}

.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    transition: var(--transition);
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    transition: var(--transition);
}

.article {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background-size: cover;
    background-position: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
}

.article__content {
    max-width: 450px;
    text-align: center;
    transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    transition: var(--transition);
}

.article__header {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.2);
    letter-spacing: calc(var(--index) / 3.6);
    margin-bottom: 25px;

}

.copy {
    position: absolute;
    bottom: 0;
    z-index: 10;
}
